.planlist-container {
    position: relative;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	overflow-wrap: break-word;
	padding: 1rem;
	border-radius: 5px;
}

.planlist-container2 {
    position: relative;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem;
	width: 100%;
	overflow-wrap: break-word;
	border: 2px solid #e0cdae;
	border-top: none;
	border-radius: 0 0 10px 10px;
}

.planlist-noplans{
	padding: 0.5rem;
	border: 2px solid #e0cdae;
	border-radius: 0 0 10px 10px;
	border-top: none;
}

.planlist-container span,
.planlist-container2 span{
	font-weight: 600;
}

.planlist-desc {
	width: auto;
	text-wrap: wrap;
}

.planlist-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.planlist-title i {
	cursor: pointer;
	height: 100%;
	transition: color 0.3s;
}

.planlist-title i:hover {
	color: red;
}