aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 20%;
    padding: 1rem 0;
    color: #B6BBC4;
    background-color: #161A30;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

aside h2{
    text-transform: uppercase;
}

.datelist{
    width: 100%;
    color: #B6BBC4;
    list-style-type: none;
}

.datelist button{
    width: 100%;
    padding: 0.5rem;
    color: #B6BBC4;
    background-color: #161A30;
    font-size: larger;  
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s;
}


.datelist button:hover{
    background-color: #303869;
}

.datelist-active button{
    background-color: #303869;
}



@media (max-width: 992px){
    aside{
        width: 30%;
    }
}

@media (max-width: 768px){
    aside{
        width: 45%;
    }
}

@media(max-width: 576px){
    aside{
        width: 100%;
        border-radius: 0;
    }
}